*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #fff;
}

body{
    background-color: rgba(0, 0, 0, 0.993);
}

header div{
    display: flex;
    justify-content: center;
}

header div ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header div ul li{
    margin-right: 12px;
}

header div ul li img{
    height: 52px;
}

section div{
    display: flex;
    justify-content: center;
}

section div img{
    height: 250px;
    margin-right: 12px;
    margin-bottom: 12px;
}
section{
    margin-top: 46px;
    display: flex;
    flex-direction: column;
}

.container-img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container-items div{
    display: flex;
    flex-direction: column;
}

.container-items div img{
    height: 400px;
}

main, .teste2{
    padding: 30px;
}

.container-items{
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="li-"] {
      width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="teste"] {
      width: 100%;
    }
}

.opa{
    margin-right: 75px;
}

header{
    border-bottom: 1px solid rgb(216, 208, 208);
    box-shadow: 0px 2px 20px -5px #999;
    background-color: #000;
}

.container-img img, .container-items img{
    border: 1px solid #fff;
}
