*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
}

header{
    height: 5em;
    background-color: #17171A;
}

.menu{
    width: 35em;
    height: 7em;
    margin: 0 auto;
    padding-top: 0.5em;
    
}

.menu img{
    margin-top: 0.2em;
    height: 3em;
}
.topico{
    float: left;
}

.topico a{
    display: block;
    color: #fff;
    text-decoration: none;
    height: 60px;
    padding: 0 10px;
    line-height: 60px;
}
.subMenuProdutos{
    list-style: none;
    background-color: #17171A;
    padding: 0;
    position: absolute;
    box-shadow: 1px 1px 5px #fff;
    display: none;
}

.subMenuProdutos li{
    width: auto;
    height: auto;
}
.menu li ul li{
    display: inline-block;
    margin: 0;
}

.menu li:hover ul{
    display: block;
}

.topico a:hover{
    color: #6188ff;
}


.menu{
    list-style: none;
}

body{
    background-color: #1C1E25;
}

h2{
    margin-top: 0.3em;
    margin-bottom: 0.8em;
    text-align: center;
}
h1{
    text-align: center;
    margin-top: 0.3em;
}
h3{
    margin-top: 2em;
    margin-left: 0.5em;
    margin-bottom: 0.8em;
    text-decoration: underline;
}

p{
    color: rgb(160,160,160);
}

section p + p{
    text-indent: 1.5em;
    margin-left: 0.5em;
    
}

section{
    border: 1px solid #fff;
    border-radius: 2em;
    padding: 2em;
    width: 100em;
    margin: 0 auto;
    margin-top: 7em;
    margin-bottom: 2em;
}

.sobre{
    border: 1px solid #fff;
    border-radius: 2em;
    padding: 2em;
    width: 100em;
    margin: 0 auto;
    margin-top: 2em;

}

.imagens{
    width: 80em;
    margin: 0 auto;
    padding-top: 4em;
    text-align: center;
}
.imagens img{
    padding-left: 0.7em;
    height: 10em;
    margin-left: 1em;
}

.imagens a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.imagens a p{
    text-align: center;
}

.subMenuProdutos li a{
    float: right;
}
.subMenuProdutos li img{
    height: 1.8em;
    margin-top: 0.9em;
    margin-left:  0.5em;
}
textarea{
    resize: none;
}
form input[type="text"],[type="email"],textarea{
    background-color: #323546;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.7em;
    padding: 1em;
    border: 1px solid rgba(176, 177, 182, 0.281);
}
form input[type="text"],[type="email"],textarea:focus{
    outline: 0;
}

form input[type="text"]:hover,[type="email"]:hover, textarea:hover{
    border: 1px solid rgb(24, 73, 250);
}

form input[type="text"]:focus,[type="email"]:focus, textarea:focus{
    border: 1px solid rgb(24, 73, 250);
    outline: 2px solid rgba(13, 56, 211, 0.336);
}



form input[type="text"],[type="email"]{
    height: 2.5em;
}
input[type="submit"]{
    background-color: rgb(56, 97, 251);
    height: 3em;
    width: 5.5em;
    border-radius: 0.7em;
    padding: 0.5em;
    border: 0;
}
input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(10, 55, 218);
}

form{
    text-align: center;
    background-color: #222531;
    width: 20em;
    height: 26em;
    margin: 0 auto;
    margin-top: 1.6em;
    border-radius: 1.5em;
    border: 1px solid #fff;
}

form div{
    display: inline-block;
    margin-top: 1em;
}

.subMenuProdutos svg{
    height: 0.9em;
}
.boxConversor{
    width: 50em;
    height: 14em;
    background-color: rgb(35, 35, 35);
    margin: 0 auto;
    padding: 1em;
}

.tituloConversor{
    color: rgb(160, 160, 160);
}

.conv{
    width: 48em;
    height: 3em;
    margin: 0 auto;
    text-align: center;
}

.conv button{
    width: 3em;
    height: 2em;
    background-color: rgb(102, 153, 204);
    border: 0;
    border-radius: 0.5em;
    margin-top: 0.2em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}
.conv button:hover{
    background-color: rgb(44, 122, 201);
    cursor: pointer;
}

.conv select{
    width: 25em;
    height: 2.5em;
    background-color: #222531;
    border: 1px solid rgb(24, 25, 29);
    border-radius: 6px;
    
}

.boxConversor input[type="number"]{
    width: 25em;
    height: 3em;
    margin-bottom: 1em;
    margin-left: 2em;
    background-color: rgb(23, 25, 36);
    border: 1px solid rgb(64, 66, 78);
    border-radius: 8px;
    padding: 0 16px;
}
.boxConversor input[type="number"]:hover{
    outline: 1px solid  rgb(23, 92, 161);
}

.results{
    margin-left: 18em;
}
.results p{
    margin-bottom: 1.5em;
    margin-top: 0.7em;
}

.results input{
    background-color: rgb(27, 28, 32);
    height: 2em;
    padding: 0.3em;
    color: rgb(160,160,160);
    border: 0;
}
.results input:hover{
    cursor: pointer;
    background-color: rgb(53, 53, 56);
}