*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}

header{
    height: 5em;
    background-color: #212430;
}

header .menu{
    width: 35em;
    height: 7em;
    margin: 0 auto;
    padding-top: 0.5em;
    
}

header .menu img{
    height: 3em;
}
header .menu li{
    float: left;
}

header .menu li a{
    display: block;
    color: #fff;
    text-decoration: none;
    height: 60px;
    padding: 0 10px;
    line-height: 60px;
}
.menu li ul{
    list-style: none;
    background-color: #171924;
    padding: 0;
    position: absolute;
    box-shadow: 1px 1px 5px #fff;
    display: none;
}

.menu li:hover ul{
    display: block;
}

header .menu li a:hover{
    color: #6188ff;
}


header .menu{
    list-style: none;
}

body{
    background-color: #1D1E26;
}


.imagens{
    width: 80em;
    height: 20em;
    margin: 0 auto;
    padding-top: 4em;
}
.imagens svg{
    padding-left: 0.7em;
}

.imagens a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.imagens svg{
    height: 15em;
}

.imagens p{
    text-align: center;
}