*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Avenir,sans-serif;
}
body{
    background-color: #040714;
}

.container-img img{
    height: 66.5em;
    
}
.container-img{
    text-align: right;
}

nav{
    position: fixed;
    right: 0;
}

nav button{
    background-color: rgba(0, 0, 0, 0.829);
    border: 1px solid rgba(255, 255, 255, 0.685);
    height: 3em;
    width: 6em;
    border-radius: 7px;
    margin-right: 2.5em;
    margin-top: 0.7em;
    font-size: large;
    font-weight: 400px;
}

nav button:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: 0.5s;
}

.assinatura{ 
    position: absolute;
    margin-top: 12%;
    margin-left: 7%;
    justify-content: center;
}
.assinatura div{
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 25px;
}

.assinatura div p{
    margin-bottom: 25px;
    font-weight: bold;
}

.assinatura div button{
    background-color: #6421ff;
    font-size: 20px;
    height: 3.5em;
    width: 35em;
    border: 0;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
.assinatura div button:hover{
    background-color: #8d65eb;
    cursor: pointer;
    transition: 0.5s;

}

.assinatura div img{
    height: 7em;
}